html,
body,
#viewDiv {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
}

body {
    background: radial-gradient(#ffffff, #b3dcda);
}
  
#viewDiv canvas {
    filter: saturate(1.2) drop-shadow(0 0 20px white);
}

#elevationDiv {
    position: absolute;
    top: 12px;
    right: 12px;
    padding: 12px;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
}

#mapGramContainer {
    position: absolute;
    margin-left: 66px;
    margin-top: 15px;
    width: 236px;
    height: 160px;
    z-index: 1;
    background-color: white;
    padding: 20px;
    text-shadow: brown;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#mapGramUrlProfile {
    width: 80px;
    height: 80px;
    float: left;
}

#mapGramUsername {
    margin-top: 46px;
    margin-left: 90px;
}