html,
body,
#viewDiv {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
}

body {
    background: radial-gradient(#ffffff, #b3dcda);
}
  
#viewDiv canvas {
    filter: saturate(1.2) drop-shadow(0 0 20px white);
}

#elevationDiv {
    position: absolute;
    top: 12px;
    right: 12px;
    padding: 12px;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
}